* {
    font-family: 'Roboto', sans-serif;
    color: #DDD;
}

body {
    background-color: #2D2D2D;
    text-align: center;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin: 0;
    padding: 0.5rem 0;
    background-color: #1D1D1D;
}

img {
    width: 60%;
    height: 100%;
}

#unit {
    margin: 0 20%;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: #1D1D1D;
    vertical-align: middle;
}

.unitlabel {
    font-size: 1.5rem;
    padding: 1rem 0.25rem;
}

.unitradio {
    background-color: #000;
}

#getdiv, #skipdiv, #ansdiv {
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
}

#get {
    font-size: 2rem;
    width: 15rem;
    height: 4rem;

    background-color: #4bb153;
    transition: all 0.25s;
}

#get:hover {
    width: 15.5rem;
    height: 4.5rem;

    background-color: #357e3b;
}

#skip {
    font-size: 2rem;
    width: 15rem;
    height: 4rem;

    background-color: #FF6961;
    transition: all 0.25s;
}

#skip:hover {
    width: 15.5rem;
    height: 4.5rem;

    background-color: #d1544d;
}

#clear {
    color: #000;
    font-size: 2rem;
    width: 15rem;
    height: 4rem;

    background-color: #DDD;
    transition: all 0.25s;
}

#clear:hover {
    width: 15.5rem;
    height: 4.5rem;

    background-color: #AAA;
}

#ans {
    font-size: 2rem;
    width: 15rem;
    height: 4rem;

    background-color: #3160c5;
    transition: all 0.25s;
}

#ans:hover {
    width: 15.5rem;
    height: 4.5rem;

    background-color: #2b53aa;
}